.modal{
    position: fixed;
    box-sizing: border-box;
    padding: 3% 3%;
    /* min-height: 80vh; */
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(to bottom,rgba(3,45,23,1),rgba(78,234,1,0.5));
    bottom: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    width: 100%;
    
}
.i{
    /* opacity: 0; */
    z-index: -1;
    display: none;
}
.er{
    position: relative;
    /* padding:50% 0; */
    box-sizing: border-box;
    overflow: hidden;
    width: 800px;
    background-color: yellow;
    height: 67vh;

}

img{
    position: absolute;
    /* top: 50%;left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 70%;

    /* height: 100%; */
    margin: 0 auto;
    object-fit: cover;
    /* box-sizing: border-box; */
}